.leftCol {
    .leftCol1 {
        background-image: url('../assets/bg-today-large.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        margin-bottom: 2em;
        height: 14em;
    }

    @media (max-width: 768px) {
        .leftCol1 {
            background-image: url('../assets/bg-today-small.svg');
            background-size: cover;
        }
    }

    .temperature {
        text-align: end;
        margin-right: 0.5em;
        font-size: 4.5em;
        color: white;

        @media (max-width: 768px) {
            text-align: center;
            margin-right: 0;
        }
    }

    .nameLocal {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
        color: white;


        @media (max-width: 768px) {
            margin-top: 0.5em;
        }
    }

    h5 {
        text-align: center;
        color: white;
    }

    .cardStatus {
        height: 10em;
        padding: 0.5em;
        background-color: #262540;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        color: white;
        border: #d4d3d917 solid 1px;


        .CardTitle {
            color: #D4D3D9;
            display: flex;
            align-items: center;
        }

        .textInfoCard {
            font-size: 1.8em;
            color: #D4D3D9;
            margin: auto;
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    .cardNextDays {
        background-color: transparent;

        @media (max-width: 768px) {
            background-color: transparent;
            border: none;
            box-shadow: none;
        }

        .forecastTitle {
            color: #D4D3D9;
            display: flex;
            align-items: center;
        }

        .cardsDay {
            background-color: #262540;
            color: #D4D3D9;
            border: #d4d3d917 solid 1px;
        }

        .forecastTemp {
            display: flex;
            justify-content: space-between;

            .tempMax {
                color: #D4D3D9;
                text-align: start;
                margin-left: 0.5em;
            }

            .tempMin {
                color: #D4D3D9;
                text-align: end;
                margin-right: 0.5em;
            }
        }
    }
}

.rightCol {

    .cardTimeForecast {
        padding: 1em;
        background-color: #262540;
        border-radius: 10px;

        @media (max-width: 768px) {
            background-color: transparent;
            border: none;
            box-shadow: none;
            padding: 0;
        }

        .forecastTitle {
            color: #D4D3D9;
            display: flex;
            align-items: center;
        }

        .cardsHour,
        .cardsDay {
            background-color: #302F4A;
            border: #d4d3d917 solid 1px;
            color: #D4D3D9;

            img {
                height: 50px;
                width: 50px;
            }

            .forecastTemp {
                text-align: end;

            }
        }
    }

    .cardAirQuality {
        background-color: transparent;
        color: #D4D3D9;

        .cardAir,
        .cardPoluition {
            background-color: #262540;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            color: white;
            text-align: center;

            .airQualityBall {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
            }

            .airQualityText {
                display: inline-block;
                font-size: 1.2em;
                margin-left: 0.5em;
                font-weight: 600;
            }
        }
    }

}