.navbar {
    background-color: #02012C;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .navbar-brand {
        font-weight: bold;
    }

    .icon {
        vertical-align: sub;
    }
}